@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {

            <li>
                <a asp-controller="ShoppingCart" asp-action="Index">
                    <i style="margin-top:11px; font-size:20px; color:black; margin-right:5px" class="fas fa-shopping-cart"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" @*asp-area="Identity" asp-page="/Account/Manage/Index"*@ title="Manage">Здравей, @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
                </form>
            </li>

            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cake" asp-action="Create">Добави кексче</a>
                </li>
            }
            else if (User.IsInRole("Cook"))
            {
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cake" asp-action="Create">Активни поръчки</a>
                </li>
            }

        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
            </li>
        }
    </ul>
