
@{
    ViewData["Title"] = "Detail";
}

<link href="~/css/detail.css" rel="stylesheet" type="text/css">


<div class="container">

    <div class="card border-0 shadow my-5">
        <div class="row">
            <div class="col-3" style="align-self:center; padding-left:40px;">
                <img src="~/images/tikva.jpg" alt="Card image cap" height="300" width="210" />
            </div>

            <div class="col-9 card-body p-5 amber-text">
                <div>
                    <h1>Тиквено кексче</h1>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            Описание:
                        </dt>
                        <dd class="col-sm-8">
                            Вкусът на тиква гали нежно небцето :)
                        </dd>
                        <dt class="col-sm-4">
                            Цена:
                        </dt>
                        <dd class="col-sm-8">
                            5,60лв.
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>


