@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/idx.css" rel="stylesheet" type="text/css">

<div style="padding-top: 14%">
    <h4>Направи деня си по-сладък със ...</h4>
    <br />
    <h1>
        <i>101 Кексчета</i>
    </h1>
</div>

