
@{
    ViewData["Title"] = "AllCakes";
}

<link href="~/css/cbg.css" rel="stylesheet" type="text/css">

<h1>Нашите предложения!</h1>
<br />
<div class="row h-100">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/tikva.jpg" alt="Card image cap" height="220" width="145" />
            <div class="card-body">
                <h5>Кексче с тиква</h5>
                <h5 class="card-title" style="color:firebrick"></h5>
                <p class="card-text" style="color:firebrick">
                    Цена: 5,60лв.
                </p>
                <div>
                    <a asp-action="Detail" asp-route-id="">Детайли</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/shokolad.jpg" alt="Card image cap" height="220" width="145" />
            <div class="card-body">
                <h5>Шоколадово кексче</h5>
                <h5 class="card-title" style="color:firebrick"></h5>
                <p class="card-text" style="color:firebrick">
                    Цена: 4,90лв.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/tikva.jpg" alt="Card image cap" height="220" width="145" />
            <div class="card-body">
                <h5>Кексче с тиква</h5>
                <h5 class="card-title" style="color:firebrick"></h5>
                <p class="card-text" style="color:firebrick">
                    Цена:
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/tikva.jpg" alt="Card image cap" height="220" width="145" />
            <div class="card-body">
                <h5>Кексче с тиква</h5>
                <h5 class="card-title" style="color:firebrick"></h5>
                <p class="card-text" style="color:firebrick">
                    Цена:
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/tikva.jpg" alt="Card image cap" height="220" width="145" />
            <div class="card-body">
                <h5>Кексче с тиква</h5>
                <h5 class="card-title" style="color:firebrick"></h5>
                <p class="card-text" style="color:firebrick">
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/tikva.jpg" alt="Card image cap" height="220" width="145" />
            <div class="card-body">
                <h5>Кексче с тиква</h5>
                <h5 class="card-title" style="color:firebrick"></h5>
                <p class="card-text" style="color:firebrick">
                    Цена:
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/tikva.jpg" alt="Card image cap" height="220" width="145" />
            <div class="card-body">
                <h5>Кексче с тиква</h5>
                <h5 class="card-title" style="color:firebrick"></h5>
                <p class="card-text" style="color:firebrick">
                    Цена:
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/tikva.jpg" alt="Card image cap" height="220" width="145" />
            <div class="card-body">
                <h5>Кексче с тиква</h5>
                <h5 class="card-title" style="color:firebrick"></h5>
                <p class="card-text" style="color:firebrick">
                    Цена:
                </p>
            </div>
        </div>
    </div>
</div>

