<h2>Contact Bethany's Cake Shop</h2>
<p>If you have any questinos, please don't hesitate to get in touch. Click below to send us an email.</p>
<email address="info@@bethanyscakeshop.com" content="Contact us"></email>