<link href="~/css/detail.css" rel="stylesheet" type="text/css">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="row">
            <div class="col-9 card-body p-5 amber-text">
                <h2>За нас</h2>

                <h3>
                    Имейл: 101Cake@abv.bg
                    <br>Телефон: +359 999 555 999
                </h3>
                <br>
                <h3>
                    <b> Можете да намерите нашите продукти:</b>
                </h3>
                <ul>
                    <li>
                        Заведения:
                        <ul>
                            <li>asdad</li>
                        </ul>

                    </li>

                    <li>
                        Сладкарници:
                        <ul>
                            <li>asdad</li>
                        </ul>
                    </li>
                    <li>
                        Ресторанти:
                        <ul>
                            <li>asdad</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>