<link href="~/css/detail.css" rel="stylesheet" type="text/css">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="row">
            <div class="col-9 card-body p-5 amber-text">
                <h2>За нас</h2>

                <h5>
                    Имейл: 101Cake@abv.bg
                    <br>Телефон: +359 999 555 999
                </h5>
                <br>
                <h4>
                    <b> Можете да намерите нашите продукти:</b>
                </h4>
                <ul>
                    <li>
                        Хранителни магазини:
                        <ul>
                            <li><a href="https://www.kaufland.bg/" >Кауфланд</a></li>
                            <li><a href="https://www.billa.bg/">Била</a></li>
                        </ul>

                    </li>
                    <li>
                        Сладкарници:
                        <ul>
                            <li><a href="https://nedelya.com/">Неделя</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>