<link href="~/css/delivery.css" rel="stylesheet" type="text/css">

<div style="margin-top:110px;">
    <h1>Проследи своята поръчка в реално време.</h1>
    <ol class="progtrckr" data-progtrckr-steps="5">
        <li class="progtrckr-done">Order Processing</li>
        <!--
        -->
        <li class="progtrckr-done">Pre-Production</li>
        <!--
        -->
        <li class="progtrckr-done">In Production</li>
        <!--
        -->
        <li class="progtrckr-todo">Shipped</li>
        <!--
        -->
        <li class="progtrckr-todo">Delivered</li>
    </ol>
</div>