
<link href="~/css/delivery.css" rel="stylesheet" type="text/css">
<div id="Tracker" style="margin-top:110px;">
    <h1>Проследи своята поръчка в реално време.</h1>
    <ol class="progtrckr" id="ProgressTracker" data-progtrckr-steps="5">
        <li class="progtrckr-done">Обработка </li>
        <li class="progtrckr-done">Поръчката е приета</li>
        <li class="progtrckr-todo">Приготвяне</li>
        <li class="progtrckr-todo">Доставяне</li>
        <li class="progtrckr-todo">Завършена поръчка</li>
    </ol>
</div> 

