@model Order

<link href="~/css/detail.css" rel="stylesheet" type="text/css">

<div class="container">
    <div class="card border-0 shadow my-11">
        <div class="row">
            <div class="col-11 card-body p-5 amber-text">
                <form asp-action="Checkout" method="post" class="form-horizontal" role="form">
                    <h4>Ти си на една стъпка от вкусните ни кексчета.</h4>
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label>Фамилия</label>
                        <div class="col-md-5">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Име</label>
                        <div class="col-md-5">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Адрес</label>
                        <div class="col-md-5">
                            <input asp-for="AddressLine" class="form-control" />
                            <span asp-validation-for="AddressLine" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Телефон</label>
                        <div class="col-md-5">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Имейл</label>
                        <div class="col-md-5">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">
                            <input type="submit" class="btn btn-primary" asp-action="Checkout" asp-route-id="" value="Завърши поръчка" />
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>